$clr1: #1D1F22;
$clr2: #5ECE7B;
$clr3: #FFFFFF;
$clr4: #A6A6A6;
$clr5: #8D8F9A;

@mixin displayAligment($horAlignment, $verAlignment) {
   display: flex;
   justify-content: $horAlignment;
   align-items: $verAlignment;
}

@mixin textCharacteristics($color, $weight, $size) {
   color: $color;
   font-weight: $weight;
   font-size: $size;
}

@mixin blockSizes($width, $height, $backcolor) {
   width: $width;
   height: $height;
   background-color: $backcolor;
}

@mixin WidHeig($width, $height) {
   width: $width;
   height: $height;
}

@mixin displayAligment($horAlignment, $verAlignment) {
   display: flex;
   justify-content: $horAlignment;
   align-items: $verAlignment;
}